body {
    background-color: var(--beige);
}

body.dark-mode .hero-profile h3, body.dark-mode .hero-profile h4{
    color: var(--white);
}


body.dark-mode .instagram {
    content: url("../../assets/images/mdi_instagram.png");
}

body.dark-mode .linkedin {
    content: url("../../assets/images/ri_linkedin-fill\ modo\ escuro.png");
}

.hero h1 {
    margin-left: 7.6rem;
    margin-top: 7.2rem;
    margin-bottom: 7.3rem;
}

.hero img{
    width: 22.1rem;
    height: 22.1rem;

    margin-bottom: 2.1rem
}

.perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.hero-profile{
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin:7.2rem;
}

.hero-links{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1.2rem;
}

.hero-links img{
    width: 3rem;
    height: 3rem;

    gap: 0.6rem;
}

.contact{
    width: 114.9rem;
    height: 66.5rem;

    border-radius: 3rem;
    background: var(--light-gray);

    margin: auto;
    margin-bottom: 9.6rem;
    padding: 4.2rem  6.2rem 70rem 6.2rem;
}

.contact h1 {
    color: var(--burnt-orange);
    font-family: Montserrat;
    font-size: 4.0rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contact img {
    width: 10.0rem;
    height: 10.0rem;
    flex-shrink: 0;
}

.contact-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 4rem;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3.25rem;

    color: var(--black);
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    opacity: 0.8;
}

input {
    border: none;
    padding: 2.4rem;
    border-radius: 3rem
}

.message{
    width: 102.9rem;
    height: 20.2rem;
}

form button {
    width: 32.2783rem;
    height: 6.4rem;

    align-self: center;

    background-color: var(--burnt-orange);
    border: none;
    border-radius: 5rem;

    color: var(--white);
    text-align: center;
    font-family: Montserrat;
    font-size: 2.4rem;
    font-weight: 700;
}

input:focus{
  outline:none;
  box-shadow:0 0 0 0.10rem rgba(62, 60, 60, 0.375);
}


